$_footer-nav-delimiter-margin: 0.5rem;

.site-footer {
  flex: none;
  font-size: 1rem;
  line-height: 1.6;
  padding: $base-spacing 0;
  position: relative;

  &_border {
    background: url('/assets/images/border.svg') repeat-x center bottom;
    height: 13px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: z(surface);
  }

  .link-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include min-width(medium) {
      flex-direction: row;
    }

    .nav-links,
    .external-links {
      margin-top: 1rem;
    }
  }

  .nav-links {
    &_delimiter {
      cursor: default;
      margin-left: $_footer-nav-delimiter-margin;
      margin-right: $_footer-nav-delimiter-margin;
    }
  }

  .external-links {
    > a {
      margin-left: 1rem;
    }

    svg {
      margin-top: -4px;
    }

    span {
      margin-left: 0.5rem;
    }
  }

  .link {
    font-size: 1rem;
    user-select: none;
  }

  .inlined {
    align-items: center;
    display: flex;
  }
}
