[submodule "build/kirby"]
	path = build/kirby
	url = https://github.com/getkirby/kirby
[submodule "build/panel"]
	path = build/panel
	url = https://github.com/getkirby/panel
[submodule "build/site/plugins/fingerprint"]
	path = build/site/plugins/fingerprint
	url = https://github.com/iksi/KirbyFingerprint.git
[submodule "build/site/fields/tabs"]
	path = build/site/fields/tabs
	url = https://github.com/afbora/Kirby-Tabs-Field.git
[submodule "build/site/plugins/seo"]
	path = build/site/plugins/seo
	url = https://github.com/jenstornell/kirby-seo.git
[submodule "build/site/fields/textarea"]
	path = build/site/fields/textarea
	url = https://github.com/medienbaecker/kirby-enhanced-textarea.git
[submodule "build/site/plugins/compress"]
	path = build/site/plugins/compress
	url = https://github.com/iksi/kirby-compress.git
[submodule "build/site/plugins/quickselect"]
	path = build/site/plugins/quickselect
	url = https://github.com/medienbaecker/kirby-quickselect.git
[submodule "build/site/fields/fieldtoggle"]
	path = build/site/fields/fieldtoggle
	url = https://github.com/medienbaecker/kirby-fieldtoggle.git
[submodule "build/site/plugins/translations"]
	path = build/site/plugins/translations
	url = https://github.com/flokosiol/kirby-translations.git
