# Development
# -----

/.ideas
/.vagrant
/node_modules
/vendor

# Temporary files
# ---------------

/yarn.lock
/composer.lock

/public/media
/public/assets
/public/favicons
/site/logs

# Plugins
# ---------------
/site/plugins/*
!/site/plugins/fundevogel

# Geno poll
# ---------------
/geno-poll/*
!/geno-poll/main.py
!/geno-poll/requirements.txt

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Accounts + Cache + Sessions
# ---------------
/storage

# Login credentials
# ---------------
/site/config/*.json

# License
# ---------------
/site/config/.license
