# General
*.bak
/.ideas
/.vagrant
public/kirby


# Development
# (1) PHP
/vendor
/composer.lock

# (2) Python
venv
/.doit.db
/__pycache__/

# (3) Node
/yarn.lock
/node_modules

# (4) Custom scripts
/lib/toolset/*
!/lib/toolset/*.py
!/lib/toolset/*.php
!/lib/toolset/*.bash
!/lib/toolset/graveyard


# Temporary files
/public/media
/public/assets
/public/favicons


# Plugins
/site/plugins/*
!/site/plugins/fundevogel
!/site/plugins/kirby3-pcbis


# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Sensible files
# (1) Credentials
/.env

# (2) License
/site/config/.license


# Storage
# (1) User accounts
# (2) Site & plugin cache
# (3) Session files
/storage
