# Normalize line endings automatically
* text=auto

# Git stuff
.gitattributes export-ignore
.gitignore export-ignore

# Define languages
# PHP != Hacklang
*.php linguist-language=PHP
*.sla linguist-language=XML
*.txt linguist-language=Markdown

Vagrantfile linguist-language=Ruby
