//
// Variables
//

$bp-small: 30em;
$bp-mediumMax: 47.9375em;

$colors: (
  primary: #f0694b,
  yellow: #ffed00,
  bg: #fff9c4,
  grey: #888,
  white: #fff,
  black: #000
);

$z-layers: (
  ground: 1,
  surface: 2,
  header: 50,
  modal: 3000,
  overlay: 200,
  space: 999
);



.inline-list li {
  display: inline;
  margin-right: $inline-list-margin;

  a {
    display: inline-block;
    font-size: 20px;
  }
}





.sketch {
  font-family: 'Cabin Sketch', sans-serif !important;
  font-variant: small-caps;
  font-weight: 700;
}


//
//
// .flex {
//   display: flex;
//
//   &--column {
//     flex-direction: column;
//   }
//
//   &--center {
//     justify-content: center;
//     align-items: center;
//   }
//
//   &--space-around {
//     justify-content: space-around;
//   }
//
//   &_image {
//     @include min-width(medium) {
//       max-width: 47.5%;
//     }
//   }
//
//   &_text {
//     flex: 1;
//   }
// }
//
// .column-to-row {
//   flex-flow: column wrap;
//
//   @include min-width(medium) {
//     flex-direction: row;
//   }
//
//   &--small {
//     flex-flow: column wrap;
//
//     @include min-width(small) {
//       flex-direction: row;
//     }
//   }
// }
//
// .center-to-flex-end {
//   align-items: center;
//
//   @include min-width(medium) {
//     align-items: flex-end;
//   }
// }
//
// .order-switch {
//
//   @include min-width(medium) {
//     order: 2;
//   }
// }
//
// @include min-width(medium) {
//   // .one_half {
//   //   width: span(1 of 2);
//   // }
//






button {
  background: transparent;
  border: 0;
  border-radius: $base-border-radius;
  color: inherit;
  cursor: pointer;
  font: inherit;
}
