@keyframes fadeIn {
  0% { opacity: 0.75; }
  100% { opacity: 1; }
}

.animation-fade-in {
  animation-duration: 500ms;
  animation-name: fadeIn;
}

@keyframes blurIn {
  0% { filter: blur(1px); }
  100% { filter: blur(0); }
}

.animation-blur-in {
  animation-duration: 500ms;
  animation-name: blurIn;
}
