@keyframes fadeIn {
  0% { opacity: 0.75; }
  100% { opacity: 1; }
}

.animation-fade-in {
  animation-duration: 500ms;
  animation-name: fadeIn;
}

.blur-up {
  filter: blur(3px);
  transition: filter 500ms;
}

.blur-up.lazyloaded,
.blur-up.ls-is-cached {
  filter: blur(0);
}
