@font-face {
  font-display: swap;
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/CabinSketch-Bold-subset.woff2') format('woff2'),
    url('/assets/fonts/CabinSketch-Bold-subset.zopfli.woff') format('woff'),
    url('/assets/fonts/CabinSketch-Bold-subset.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Dosis-Light-subset.woff2') format('woff2'),
    url('/assets/fonts/Dosis-Light-subset.zopfli.woff') format('woff'),
    url('/assets/fonts/Dosis-Light-subset.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Dosis-Medium-subset.woff2') format('woff2'),
    url('/assets/fonts/Dosis-Medium-subset.zopfli.woff') format('woff'),
    url('/assets/fonts/Dosis-Medium-subset.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Dosis-Bold-subset.woff2') format('woff2'),
    url('/assets/fonts/Dosis-Bold-subset.zopfli.woff') format('woff'),
    url('/assets/fonts/Dosis-Bold-subset.ttf') format('truetype');
}
