::selection {
  @apply bg-orange-medium;
  @apply text-white;
}

a {
  @apply no-underline;

  transition: all theme('transitionDuration.250') theme('transitionTimingFunction.in');
}

article section + section {
  @apply mt-16;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  @apply mb-2;
  @apply font-bold;
  @apply text-red-medium;
  @apply leading-none;

  font-variant: small-caps;
}

article h2 {
  @apply text-4xl;
}

article h3,
article h4 {
  @apply text-xl;
}

time {
  @apply text-xs;
  @apply font-medium;
}

blockquote {
  @apply my-6;
}

blockquote p {
  @apply italic;
}

blockquote footer {
  @apply mt-2;
  @apply block;
  @apply font-normal;
  @apply not-italic;
  @apply text-sm;
  @apply text-red-medium;
}

hr {
  @apply max-w-lg;
  @apply h-6;
  @apply my-16;
  @apply mx-auto;
  @apply font-light;
  @apply text-sm;
  @apply text-red-medium;
  @apply text-center;
  @apply border-0;
}

hr::before {
  @apply bg-current;
  @apply block;
  @apply relative;

  content: '';
  height: 3px;
  top: calc(50% + 1px);
}

hr::after {
  @apply bg-yellow-light;
  @apply relative;

  content: '× × ×';
  padding: 0 0.5rem;
  top: -7px;
}
