.site-footer {
  flex: none;
  font-size: 1rem;
  line-height: 1.6;
  padding: $base-spacing 0;
  position: relative;

  &_border {
    background: url('/assets/images/border.svg') repeat-x center bottom;
    height: 13px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: z(surface);
  }
}

.footer-nav {
  user-select: none;

  li + li {
    cursor: default;
    margin-left: -10px;
  }
}
