.card {
  @apply p-4;
  @apply bg-orange-light;
  @apply border-b-2;
  @apply border-orange-medium;
  @apply rounded-lg;
}

.card h3,
.card h4,
.card h5,
.card h6 {
  @apply text-orange-medium;
}

.card p {
  @apply m-0;
}

.card p + p {
  @apply mt-4;
}

.card a {
  @apply text-orange-medium;
  @apply font-medium;
}

.card a:active,
.card a:focus,
.card a:hover {
  @apply text-orange-dark;
}

.card li::before {
  @apply text-orange-medium;
}

/* dashed card */

.card.is-dashed {
  @apply border-2;
  @apply border-dashed;
}

.card.is-dashed h3,
.card.is-dashed h4,
.card.is-dashed h5,
.card.is-dashed h6 {
  @apply mb-4;
  @apply underline;
}
