.fig {

  img {
    position: relative;
    border-radius: 1px solid theme('colors.gray.light') 1px solid theme('colors.gray.light') 0 0;
    transition: all var(--base-duration) var(--base-timing);
  }

  &.has-hover {
    position: relative;
    overflow: hidden;

    figcaption {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 1.8rem;
      opacity: 0;
      transform: translate3d(0, 100%, 0);
      backface-visibility: hidden;
      transition: transform 0.4s, opacity 0.1s ease 0.3s;
    }

    @screen 600 {

      &:hover,
      &:focus {

        img {
          opacity: 0.75 !important;
        }

        figcaption {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: transform 0.35s, opacity 0.1s;
        }
      }
    }
  }
}
