.toggle {
  @apply w-8;
  @apply h-8;
  @apply flex;
  @apply items-center;
  @apply text-white;
  @apply relative;
}

.toggle::before {
  @apply ml-12;
  @apply font-bold;
  @apply uppercase;

  content: attr(data-menu);
}

.toggle span::before {
  top: -8px;
}

.toggle span::after {
  backface-visibility: hidden;
  top: 8px;
  transform-style: preserve-3d;
}

.toggle span,
.toggle span::after,
.toggle span::before {
  @apply bg-white;
  @apply absolute;
  @apply rounded-lg;
  @apply right-0;

  content: '';
  height: 4px;
  transition: 0.3s;
  width: 25px;
}


/* ACTIVE */
.toggle.is-active span {
  background: 0 0;
}

.toggle.is-active span::after,
.toggle.is-active span::before {
  @apply bg-white;

  width: 28px;
}

.toggle.is-active span::before {
  right: -6px;
  top: -9px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

.toggle.is-active span::after {
  right: -6px;
  top: 9px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
