.macy {
  margin-top: -10px;
}

.card {
  // no styles?

  &--outer {
    padding: 10px;
  }

  &--inner {
    background: $secondary-background-color;
    border-bottom: 3px solid $accent-color;
    border-radius: $base-border-radius;
    padding: 0.8em;
  }

  h4 {
    color: $accent-color;
    font-weight: 700;
  }

  p {
    margin: 0;
  }

  a {
    color: $accent-color;
    font-weight: 500;

    &:active,
    &:focus,
    &:hover {
      color: shade($accent-color, 10%);
    }
  }
}
