.post-nav {
  display: table;
  margin-top: $base-spacing;
  padding: 0;
  width: 100%;

  button {
    box-shadow: $base-box-shadow;
    line-height: 1.1;
    width: 100% !important;
  }
}

.btn {
  background-color: $action-color;
  border-radius: $base-border-radius;
  display: table-cell;
  opacity: 0.75;
  padding: 1em 0;
  transition: opacity $base-duration $base-timing;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: $white;
    opacity: 1;
  }

  &.left {
    border-radius: $base-border-radius 0 0 $base-border-radius;
  }

  &.right {
    border-radius: 0 $base-border-radius $base-border-radius 0;
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    width: 50%;
  }

  &--text {
    font-size: 1.75rem;

    @include min-width(large) {
      font-size: 2.2rem;
    }
  }

  svg {
    @include min-width(600) {
      display: none;
    }

    @include min-width(medium) {
      display: inline;
      margin: 0 1.5em;
      position: relative;
      top: 0.15em;
    }
  }
}
