.post-nav {
  margin-top: $base-spacing;
  padding: 0;
  display: flex;
  width: 100%;
}

.btn {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.75;
  padding: 1em 0;
  transition: opacity $base-duration $base-timing;

  &:hover,
  &:focus {
    color: $white;
    opacity: 1;
  }

  // Hide on home when JS is activated - AJAX button taking over
  .js .home &.left,
  .js .home &.right {
    display: none;
  }

  &.left {
    border-radius: $base-border-radius 0 0 $base-border-radius;
  }

  &.right {
    border-radius: 0 $base-border-radius $base-border-radius 0;
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--text {
    font-size: 1.75rem;

    @include min-width(large) {
      font-size: 2rem;
    }
  }

  svg {
    @include min-width(600) {
      display: none;
    }

    @include min-width(medium) {
      display: inline;
    }
  }

  &.load-more {
    flex-basis: 100%;

    .no-js & {
      display: none;
    }
  }
}
