//
// Variables
//

$bp-small: 30em;
$bp-mediumMax: 47.9375em;

$breakpoints: (
  smallMax: 29.938em,
  small: 30em,
  600: 37.5em,
  mediumMax: 47.938em,
  medium: 48em,
  largeMax: 63.938em,
  large: 64em,
  xlarge: 80em,
  1440: 90em,
  xxlarge: 100em,
);

$z-layers: (
  ground: 1,
  surface: 2,
  header: 50,
  modal: 3000,
  overlay: 200,
  space: 999
);

//
// Typography
$base-font-family: Dosis, sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$base-font-weight: 300;
$heading-font-weight: 700;

// Colors
$red: #f0694b;
$yellow: #ffeb3b;
$amber: #ffa000;
$light-orange: #ffecb3;
$dark-gray: #333;
$medium-gray: #888;
$light-gray: #ddd;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $red;
$accent-color: $amber;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff9c4;
$secondary-background-color: $light-orange;

// Shadows
$base-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$hover-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 300ms;
$base-timing: ease;

// Custom
$inline-list-margin: 16px;
