.home .site-title {
  @include min-width(medium) {
    font-size: 4rem;
    margin-bottom: -10px;
  }
}

.subtitle {
  font-size: 0.8rem;
  font-weight: 500;
}

.image-area {
  text-align: center;

  figure {
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.7em;
  }
}

.post {
  animation-name: fadeIn;
  animation-duration: 500ms;
}
