.font-small-caps {
  font-variant: small-caps;
}

.sketch {
  @apply font-cursive;
  @apply font-bold;

  font-variant: small-caps;
}

.transition-all {
  transition: all 200ms ease-in-out;
}

.no-js .nojs-hidden {
  display: none;
}
