.download {
  fill: theme('colors.red');
  transition: var(--base-duration) var(--base-timing);

  &:hover {
    fill: shade(theme('colors.red'), 20%);
  }

  span {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 4px;
  }
}

.kalender,
.vergangene-veranstaltungen {

  .card {
    margin-bottom: calc(#{var(--base-spacing)} - 13px);
    text-align: center;

    p {
      font-size: 0.9rem;
    }
  }
}
